.land {
    fill: #b2e6a8;
    stroke: #000000;
}

.boundary {
    fill: none;
    stroke: #000000;
}

#map {
    background-color: #ffffcc;
}

.mapNodes {
    fill: #ffee00;
}

.cirMap {
    fill: goldenrod;
}