#map {
    height: 500px;
    width: 1080px;
}

.map-control {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    font-family: 'Roboto','sans-serif';
    margin: 10px;
    /* Hide the control initially, to prevent it from appearing
       before the map loads. */
    display: none;
  }
  /* Display the control once it is inside the map. */
  #map .map-control { display: block; }

  .selector-control {
    font-size: 14px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
  }

/*graph*/
.link {
    stroke: #999;
    stroke-opacity: 0.6;
}

.edgepath:hover {
    visibility: visible;
}

.framed {
    border: 1px solid black;
}

#d3 svg {
    border: 1px solid;
    font: 13px sans-serif;
    text-anchor: end;
}

#d3 .node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node .selected {
  stroke: black;
}
/*graph end*/  

.ui-helper-hidden-accessible { 
    display:none; 
}

body {
    margin: 0;
}

header {
    z-index: 500;
    position: fixed;
    top: 0;
    width: 100%;
    background-image:url("header.jpg");
}

header h1 {
    text-align: center;
}

h2 {
    margin-left: 10%
}

/*parr*/
p {
    margin-right: 20%;
    margin-left: 20%;
}

/*Top nav*/
ul.topnav {
    z-index: 500;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 10%;
    width: 100%;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}